/* styles/dailyBonus.css */
#daily-bonus {
    text-align: center;
}

#claimBonusButton {
    background: #d4af37;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    margin-top: 10px;
}

#claimBonusButton:hover {
    background: #b39231;
}

#bonusMessage {
    margin-top: 10px;
    font-size: 16px;
    color: green;
}

#bonusTimer {
    margin-top: 10px;
    font-size: 16px;
    color: red;
}
