/* styles/event.css */

#event {
    padding: 10px;
}

#event-tabs {
    margin-bottom: 10px;
}

#event-tabs .tab-button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.event-tab-content {
    display: none;
}

.event-card {
    margin: 5px;
    padding: 20px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    display: inline-block;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
